.projects-grid {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 4vw;
    padding: 4vh 4vw;
}

.about-grid {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.footer-grid {
    display: grid;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media only screen and (max-width: 760px) {
    #main-hero {
        height: 50vh;
    }
}