{% extends 'main/layout.html' %}

{% block title %}aschechter.dev{% endblock %}

{% block body %}
<section class="hero is-medium is-primary">
    <div class="hero-body">
      <p class="title has-text-info animate__animated animate__fadeInLeftBig is-size-1 animate__slow">
        Hello, I'm Ari
      </p>
      <p class="subtitle has-text-link animate__animated animate__fadeInUp animate__delay-2s" id="hero-sub">
        Take a look around, get to know me
      </p>
    </div>
</section>
{% endblock %}