{% extends 'main/layout.html' %}
{% load static %}

{% block title %}aschechter.dev | Projects{% endblock %}

{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title has-text-info">
            Projects
        </p>
    </div>
</section>

<section class="hero" style="background-color: whitesmoke;">
    <div class="hero-body">
        <div class="projects-grid">
            <div class="card animate__animated animate__fadeInLeft">
                <div class="card-image">
                    <figure class="image">
                        <img src="{% static 'main/images/beatstreet1.png' %}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title has-text-link mb-6">Beatstreet</p>
                    <p class="subtitle">
                        BeatStreet is a startup founded by myself, Liam Kronman and Jason Seo. Our goal is to change the way that musicians meet and collaborate by using a collaborative filtering algorithm to bring users projects and artists they might never have found. The website combines a multitude of technologies including Django, Tensorflow, AWS, jQuery, MySQL and more.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://beatstreet.live" class="card-footer-item" target="_blank">Visit Site</a>
                </div>
            </div>

            <div class="card animate__animated animate__fadeInRight animate__delay-1s">
                <div class="card-image">
                    <figure class="image">
                        <img src="{% static 'main/images/folio.png' %}">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title has-text-link mb-6">aschechter.dev</p>
                    <p class="subtitle">
                        Built and deployed a full-stack portfolio website in less than a week using Django, Bulma, AnimateCSS, jQuery and Heroku.
                    </p>
                </div>
                <br><br><br><br>
                <div class="card-footer">
                    <a href="#" class="card-footer-item">Source Code</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}